name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Run Checks & Tests
      env:
        PYTHONPATH: .
      run: |
        # Linting
        ruff check .
        # Formatting Check
        ruff format . --check
        # Security Scan (Bandit)
        bandit -r . -f custom --msg-template "{abspath}:{line}: {test_id}: {severity}: {msg}"
        # Unit Tests
        pytest tests/
